.cardGrid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
}
.card {
    max-width:280px;
    flex: 0;
    background-color: white;
    border-radius: 13px;
    color:#161313;
}

.card .cardFooter {
    padding: 1rem;
}